@model IEnumerable<CRBS_Project.Models.Dashboard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyPurposeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyPurposeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FairAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyPurposeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyPurposeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FairAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
